html{
  height: 100%;
  width: 100%;
  overflow: hidden;
}
body{
  font-family: 'Times', serif;
  width: calc(100% - 15px);
  height: 100%;
  overflow-y: scroll;
  padding-right: 25px; /* Increase/decrease this value for cross-browser compatibility */
  box-sizing: content-box; /* So the width will be 100% + 17px */
}
#title{
  display: block;
  height: 3em;
  line-height: 4em;
  font-family: 'Times', serif;
  font-size: 2em;
  font-weight: 900;
  width: 100%;
  text-align: center;
}
#title h1{
  margin: 0px;
}
#hmbgr{
  display: none;
}
#date{
  display: block;
  height: 2em;
  line-height: 2em;
  width: 100%;
  text-align: right;
  font-style: italic;
}
#menu{
  display: block;
  min-height: 2em;
  overflow: auto;
  line-height: 2em;
  font-family: 'Times', serif;
  font-size: 1em;
  font-weight: 400;
  width: 100%;
  margin-top: 0px;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin-bottom: 10px;
  padding-left: auto;
  padding-right: auto;
  transition: all 2s ease-in-out;
}
#menu a{
  display: block;
  height: 2em;
  width: 7em;
  float: left;
  text-align: center;
  text-decoration: none;
  color: black;
}
#content{
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(1000, 25%);
  flex-wrap: wrap;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-snap-points-x: repeat(100%);
}
.org{
  font-weight: 700;
  text-align: center;
  font-size: 1.5em;
}
#footer{
  display: block;
  height: 2em;
  width: 100%;
  border-top: 1px solid black;
  margin-top: 10px;
}
@media screen and (max-width: 1000px) {
  #title{
    height: 1em;
    display: block;
    width: 50%;
    float: left;
  }
  #title h1{
    line-height: 1em;
    font-size: .75em;
  }
  #hmbgr{
    display:block;
    height: 1em;
    font-size: 1em;
    width: 50%;
    float: right;
    text-align: center;
    letter-spacing: -.16em;
    user-select: none;
    color: black;
  }
  #hmbgr:hover{
    cursor: pointer;
    color: lightgray;
  }
  #date{
    display: none;
  }
  #menu{
    display: none;
  }
  #menu a{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid lightgray;
    line-height: 2em;
    font-size: 1.5em;
  }
  #content{
    grid-template-columns: repeat(1000, 50%);
  }
}
@media screen and (max-width: 750px) {
  #content{
    grid-template-columns: repeat(1000, 100%);
  }
}
.column{
  scroll-snap-align: start;
  display: inline-block;
  float: left;
  border-left: solid -.75px black;
  border-right: solid .75px black;
}
.column:first-of-type{
  border-left: none;
}
.column:last-of-type{
  border-right: none;
}
.org{
  display: block;
  position: relative; /* Necessary for border set by :after */
  height: 2em;
  line-height: 2em;
}
.org:after{
  content:"";
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}
a.org{
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: -.5px;
  text-align: center;
  text-decoration: none;
  color: #000;
}
.article{
  display: block;
  position: relative;  /* Necessary for border set by :after */
  padding: 10px;
  text-decoration: none;
  color: #000;
}
/* Main div for border to extend to 50% from bottom left corner */
.article:after {
  content:"";
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: calc(100% - 20px);
  margin-left: 10px;
  margin-right: 10px;
}
.article h1{
  font-family: 'Times', serif;
  font-weight: 100;
  letter-spacing: -1.3px;
  text-align: center;
  margin-top: 0px;
}
.article img{
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.article p{
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  margin-bottom: 0px;
}
