<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/assets/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/assets/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/assets/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="/assets/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="/assets/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/assets/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="/assets/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/assets/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/assets/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/assets/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <title>{% if page.title == 'Headlines' %}{{ site.title }}{% else %}{{ site.title }}: {{page.title}}{% endif %}</title>
    <script src='rss-parser.js'></script>
    <link rel='stylesheet' type='text/css' href='stylesheet.css'></link>
    <link rel='stylesheet' type='text/css' href='swipe.css'></link>
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <script>
    var sources = {{ site.sources | jsonify }};
    </script>
  </head>
  <body>
    <div id='header'>
    <div id='title'></div>
    <div id='hmbgr' onClick="toggle('#menu')">☰☰</div>
    <div id='date'></div>
    </div>
    <div id='menu'>
      {% for page in site.html_pages %}
      <!--<a href='{{page.name}}'>{{page.title}}</a>-->
      {% endfor %}
    </div>
    <div id='content' class='swipe' style='width:100%'>
      <div id='temp'>
      </div>
    </div>
    <!--<div id='footer'>
    </div>-->
  </body>
  <!--<script src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js'></script>-->
  <script src='script.js'></script>
  <script src='swipe.js'></script>
  <script>
    //new Swipe(document.getElementById('content'), {items:4});

    function size(){
      console.log('S I Z E');
      //delete swipe;
      var col = document.querySelectorAll('#temp > div');
      var windowWidth = window.innerWidth;

      if (1000 <= windowWidth){
        console.log('F O U R');
        var swipe = new Swipe(document.getElementById('content'), {items:4});
        var w = windowWidth / 4.0;
      }
      if (750 <= windowWidth && windowWidth < 1000){
        console.log('T W O');
        var swipe = new Swipe(document.getElementById('content'), {items:2});
        var w = windowWidth / 2.0;
      }
      if (750 > windowWidth){
        console.log('O N E');
        var swipe = new Swipe(document.getElementById('content'), {items:1});
        var w = windowWidth;
      }
      for(var i=0; i<col.length; i++){
        col[i].style.width = w.toString() + 'px';
      }
      var contWidth = (col.length * w) + col.length;
      document.getElementById('temp').style.width = contWidth.toString() + 'px';
    }
    size();  // when uncommented, it causes the columns to be screwed up on first load.
    /*
    var colWidth = parseFloat(window.getComputedStyle(document.getElementsByClassName('col')[0]).width.slice(0,-2));
    var colQuant = document.getElementsByClassName('col').length;
    var quotient = (colWidth * colQuant) - 13;
    */
    //document.getElementById('temp').style.width = quotient.toString()+'px';
    window.addEventListener("resize", size, false);
    // DONT FORGET TO COMMIT TO THE SWIPE BRANCH
  </script>
</html>
