<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if page.title == 'Headlines' %}{{ site.title }}{% else %}{{ site.title }}: {{page.title}}{% endif %}</title>
    <script src='rss-parser.js'></script>
    <link rel='stylesheet' type='text/css' href='stylesheet.css'></link>
    <script>
      var sources = {{ page.sources }}
    </script>
  </head>
  <body>
    <div id='title'>
      <h1>{% if page.title == 'Headlines' %}{{ site.title }}{% else %}{{ site.title }}: {{page.title}}{% endif %}</h1>
    </div>
    <div id='hmbgr' onClick="toggle('#menu')">☰☰</div>
    <div id='date'>
    </div>
    <div id='menu'>
      {% for page in site.html_pages %}
      <a href='{{page.name}}'>{{page.title}}</a>
      {% endfor %}
    </div>
    <div id=content>
    </div>
  </body>
  <script src='script.js'></script>
</html>
