<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/assets/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/assets/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/assets/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="/assets/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="/assets/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/assets/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="/assets/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/assets/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/assets/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="/assets/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <title>{% if page.title == 'Headlines' %}{{ site.title }}{% else %}{{ site.title }}: {{page.title}}{% endif %}</title>
    <script src='rss-parser.js'></script>
    <link rel='stylesheet' type='text/css' href='stylesheet.css'></link>
    <link rel="apple-touch-icon" href="/assets/apple-touch-icon.png">
    <script>
      if(navigator.userAgent.match(/iPhone|iPad|iPod/i) != null){
        document.documentElement.webkitEnterFullScreen();
      }
      var sources = {{ page.sources }}
    </script>
  </head>
  <body>
    <div id='title'>
      <h1>{% if page.title == 'Headlines' %}{{ site.title }}{% else %}{{ site.title }}: {{page.title}}{% endif %}</h1>
    </div>
    <div id='hmbgr' onClick="toggle('#menu')">☰☰</div>
    <div id='date'>
    </div>
    <div id='menu'>
      {% for page in site.html_pages %}
      <a href='{{page.name}}'>{{page.title}}</a>
      {% endfor %}
    </div>
    <div id='content'>
    </div>
    <div id='footer'>
    </div>
  </body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.js'></script>
  <script src='script.js'></script>
</html>
